{{ define "signup_form.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>signup</title>
</head>
<body>
  <h1>signup</h1>
  <form action="/signup" method="post">
    username: <input type="text" name="username">
    <br>
    email: <input type="email" name="email">
    <br>
    password: <input type="password" name="password">
    <br>
    confirm Password: <input type="password" name="password_check">
    <br>
    <input type="submit" value="register">
  </form>
</body>
</html>
{{ end }}