{{ define "token_form.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>token</title>
</head>
	<h1>
    token request
	</h1>
  <form action="/token" method="post">
    email: <input type="email" name="email">
    password: <input type="password" name="password">
    <input type="submit" value="request token">
  </form>
</html>
{{ end }}
